@import "../../styles/function.scss";
.type-head{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    &-body{
        border: 1px solid #cccccc;
        border-radius: 4px;
        width: 100%;
        padding: 8px;
        &-footer{
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: blue;
            }
        }
    }
    &-body-small{
        width: rem(400);
    }
    &-body-medium{
        width: rem(500);
    }
}
.suggesion-list{
    &-item{
        padding: 12px;
        &:not(:last-child){
            border-bottom: 1px solid #cccccc;
        }
    }
}